* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    user-select: none ;
}

html {
  font-family : 'Segoe UI' , "sans-serif";
}

body {
    position:fixed;
    width:100vw;
}

:root {
    --time : 0.2s;
}

.wrapper {
    height:100vh;
    overflow:hidden;
    background-color:#f5f5f5;
    perspective: 800px ;
    
    background:linear-gradient(135deg, #f3f3ff 0%,#5D687445 100%);
}

.circular-slider {
    position:relative;
    display: block;
    width : 100%  ;
    height: 90% ;

    display: flex ;
    align-items: center ;
    justify-content: center ;

    transform-style: preserve-3d;
}

.card {
    position: absolute ;
    width :20rem;
    height:16rem;
    background-color:#fff;
    border-radius:16px;
    box-shadow:
    0 3px 6px rgba(0,0,0,.2),
    0 8px 16px rgba(0,0,0,.15);

    
    backface-visibility: hidden;
    
    transform-style: preserve-3d;
    perspective:800px;
}

.card .content {
    width :100%;
    height:100%;
    font-size:2rem;
    color:#666;
    backface-visibility: hidden;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    text-align:center;
    position:absolute;
    transform-style: preserve-3d;

    transform:translateZ(2rem) rotateY(0deg);
    filter:drop-shadow(0px 0px 4px rgba(0,0,0,.2));
    color:#fff;
}

.info {
    position: absolute ;
    bottom:2rem;
    color:#454545;
    left:50%;
    z-index:1000;
    transform: translateX(-50%);
    text-align:center;
    line-height:1.3;
    font-size:0.8rem;
    pointer-events:none;
    z-index:1;
}

.info .smile {
    font-size:1.2rem;
}

.info .name {
    font-weight:300;
    font-size:1.2rem;
}


.card:nth-child(1) {
    background:linear-gradient(135deg, #CE9FFC 0%,#7367F0 100%);
}

.card:nth-child(6) {
    background:linear-gradient(135deg, #c3ec52aa 0%,#0ba29daa 100%);
}

.card:nth-child(3) {
    background:linear-gradient(135deg, #0FF0B388 0%,#036ED988 100%);
}

.card:nth-child(4) {
    background:linear-gradient(135deg, #fcdf8a 0%,#f38381 100%);
}

.card:nth-child(5) {
    background:linear-gradient(135deg, #fad961aa 0%,#f76b1caa 100%);
}

.card:nth-child(2) {
    background:linear-gradient(135deg, #f02fc2cc 0%,#6094eacc 100%);
}