@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background: #e0ef8a;
  background: linear-gradient(45deg, #e0ef8a 0%, #d6a7b0 50%, #848fea 100%);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 300px;
  height: 465px;
  border-radius: 30px;
  padding: 30px;
  backdrop-filter: blur(15px);
  box-shadow: 10px 10px 70px rgba(0, 0, 0, 0.2);
  border: solid 1px white;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  z-index: 3;
}
.card .p-profile {
  display: flex;
  justify-content: center;
  top: -95px;
  position: relative;
}
.card .p-profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 2px white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}
.card .name {
  top: -30px;
  position: relative;
}
.card .name h2, .card .name p {
  text-align: center;
}
.card .name h2 {
  color: #581845;
}
.card .name p {
  margin: 5px 0px;
}
.card .button {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.card .button button {
  padding: 15px 40px;
  border: 1.5px solid #5159E7;
  border-radius: 30px;
  background: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}
.card .button button:hover {
  background: white;
  color: #5159E7;
}
.card .button button:nth-child(1) {
  background: #5159E7;
}
.card .button button:nth-child(1):hover {
  color: #5159E7;
  background: white;
}
.card .infos {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
}
.card .infos h4 {
  color: #581845;
  font-weight: 800;
  text-align: center;
  font-size: 20px;
}
.card .infos p {
  text-align: center;
  font-weight: 400;
  padding: 4px 15px;
  color: #581845;
}
.card .more button {
  padding: 15px 40px;
  border: 1.5px solid #5159E7;
  border-radius: 30px;
  background: #5159E7;
  color: white;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  position: relative;
  border: none;
  overflow: hidden;
}
.card .more button:before {
  content: "";
  left: 0;
  top: 0;
  transform: translateX(-100%);
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.2s;
  border-radius: 30px;
}
.card .more button:hover:before {
  content: "";
  transform: translateX(0);
}

.circle1, .circle2 {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.circle1 {
  top: 15%;
  right: 35%;
  background: tomato;
}

.circle2 {
  top: 63%;
  right: 53%;
  background: #7073ff;
}
