{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>..</title>
  <link rel="stylesheet" href="{% static 'accounts/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-box">
  <h2>Sign up</h2>
  <form method="post">{% csrf_token %}
    <div class="user-box">
      <input type="text" name="username" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      <label>Password</label>
    </div>
    <div class="user-box">
      <input type="password" name="password2" required="">
      <label>Password Confirm</label>
    </div>

    <a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button class="btn">
        Submit
      </button>
    </a>

  </form>
</div>
<!-- partial -->

</body>
</html>
