{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Glassmorphism profile design</title>
  <link rel="stylesheet" href="{% static 'words/style2.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="card">
  <div class="p-profile">
   <img src="{% static 'words/city.jpg' %}">
  </div>

  <div class="name">
    {% if QueryWord %}
    <h2>{{QueryWord.words}}</h2>

    <p>Level : {{QueryWord.status}}</p>
    <p id="anim"></p>


    {% else %}
    <h2>END!</h2>



    <!-- <p>perfect!</p> -->
    </br></br></br>
    {% endif %}
  </div>




  </br></br></br></br>
{% if QueryWord %}
<div class="button" style="margin-left: 70px;">
  <button id='btn'>Show meaning</button>
  </div>
  <div class="button">

    <button><a href="{% url 'leitner:WordUnLearned' QueryWord.id %}" style="text-decoration:none;Color:white">I dont know</a></button>
    <button><a href="{% url 'leitner:WordLearned' QueryWord.id %}" style="text-decoration:none;Color:blue">I Know</a></button>
    {% else %}
    <div class="button">
    <button style="margin-left: 65px;"><a href="{% url 'words:panel' %}" style="text-decoration:none;Color:white">Return Home</a></button>
    {% endif %}
  </div>

  <!-- <div class="infos">

     <div class="Follower">
      <h4>31</h4>
      <p>Post</p>
    </div>

    <div class="Follower">
      <h4>25k</h4>
      <p>Followers</p>
    </div>

    <div class="following">
      <h4>34</h4>
      <p>Following</p>
    </div>
  </div>

  <div class="more">
    <button>Visit Profile</button>
  </div> -->

</div>

<div class="circle1"></div>
<div class="circle2"></div>
<!-- partial -->



<script>
  var $ = function(id) {
  return document.getElementById(id);
};
var inc = 0;
var out = 0;
var str = "{{QueryWord.words.meaning}}";
var chars = 'ضصثقفغعهخحجچشسیبلاتنمکگظطزرذدپو';
var t;

var anim = function() {
  inc++;
  if (inc % 7 === 0 && out < str.length) {
    $('anim').appendChild(document.createTextNode(str[out]));
    out++;
  } else if (out >= str.length) {
    $('shuffle').innerHTML = '';
    removeInterval(t);
  }
  $('shuffle').innerHTML =
    chars[Math.floor(Math.random() * chars.length)];
};



function show() {
  t = setInterval(anim, 30);
  $('anim').innerHTML = '';

}

//Do it again
function reload() {
  window.location.href = window.location.href;
}
document.getElementById('btn').onclick = show;

</script>


</body>
</html>
