{% load static %}


<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Good Wishes - 3D Carousel</title>
  <!-- <link rel="stylesheet" href="./style.css"> -->
  <link href="{% static 'words/style.css' %}" rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
            <div class="circular-slider">
                <div class="card">
                    <div class="content">
                        👋<br>
                        Hello World !
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        😇 <br>
                        Be Nice !
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        🥗<br>
                        Eat well !
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        🌱<br>
                        Stay Healthy !
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        🌟<br>
                        Shine Bright !
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        😄<br>
                        Be Happy !
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="smile">: )</div>
                <div class="name"></div>
                <div class="msg">
                    Swipe left or right
                </div>
            </div>
        </div>
<!-- partial -->
  <script  src="{% static 'words/script.js' %}"></script>

</body>
</html>
